<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="./style/location.css" />
		<link rel="stylesheet" type="text/css" href="./style/comment.css" />
    </head>
    <body>
        <h1>
            These are all of the location from twimo's database
        </h1>
        <div class="locations">
            {{range .}}
            {{template "location" . }}
            {{end}}
        </div>
        <form method="POST">
            <input type="hidden" name=killSession value="ds">
            <input type="submit" name="killSession" value="log out">
        </form>
    </body>
</html>