{{ define "user"}} 
    
<div class="user">
    <div class="user-username">
        {{.Name}}
    </div>
    <div class="user-email">
        <a href="mailto:{{.Email}}">{{.Email}}</a>
    </div>
    <div class="user-id">
        User's ID: {{.ID}}
    </div>
    <div class="user-button">
        <form method="POST">
            <input type="hidden" name="deleteUser" value="{{.ID}}">
            <input type="submit" name="submit" value="delete user">
        </form>
    </div>
    <div class="user-comments">
        {{range .Comments }}
            {{template "comment" .}}
        {{end}}
    </div>

</div>
{{end}}